.primary{
	width:95%;
		max-width:none;
	float:left;
	margin: 1.5em auto;
	border: 0.063em solid #ccc;
	background: #fff;
	text-align: left;
	padding: 10px;
	margin:10px;
	@media screen and (min-width:768px){
			width: 60%;
	max-width: 600px;
	}
}

footer{
	width:100%;
}