body {
  height: 100%;
  font-size: 1em;
  font-family: georgia, serif;
  color: #444;
  background: #e6e6e6; }

.primary {
  width: 95%;
  max-width: none;
  float: left;
  margin: 1.5em auto;
  border: 0.063em solid #ccc;
  background: #fff;
  text-align: left;
  padding: 10px;
  margin: 10px; }
  @media screen and (min-width: 768px) {
    .primary {
      width: 60%;
      max-width: 600px; } }

.ctoa {
  display: block;
  margin: 0px 0px 0px 70px;
  vertical-align: top;
  overflow: auto; }

.pledge {
  display: none;
  height: auto;
  margin: 0;
  float: left; }

.show {
  display: none; }

.hide:target + .show {
  display: inline; }

.hide:target {
  display: none; }

.hide:target ~ .pledge {
  display: inline; }

.hide, .show {
  background-color: red;
  text-align: center;
  padding-top: 7px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  float: left; }

.hide:hover, .show:hover {
  color: #eee;
  box-shadow: 0 0 4px #222 inset; }

.pledge p {
  height: auto;
  margin: 0; }

.urge {
  float: left;
  height: auto;
  width: 90%;
  line-height: 20px;
  padding-left: 20px;
  padding-top: 5px;
  margin-bottom: 25px; }
