body {
  height: 100%;
  font-size: 1em;
  font-family: georgia, serif;
  color: #444;
  background: #e6e6e6; }

.ctoa {
  display: block;
  vertical-align: top;
  padding: 10px 10px 10px 20px;
  max-width: 260px;
  overflow: auto;
  margin-right: auto;
  margin-left: auto; }
  @media screen and (min-width: 650px) {
    .ctoa {
      float: right;
      width: 30%;
      max-width: none;
      margin-right: 20px; } }

.pledge {
  display: none;
  height: auto;
  margin-top: 15px;
  float: left; }
  @media screen and (min-width: 650px) {
    .pledge {
      display: inline; } }

.show {
  display: none; }

.hide:target + .show {
  display: inline; }
  @media screen and (min-width: 650px) {
    .hide:target + .show {
      display: none; } }

.hide:target {
  display: none; }

.hide:target ~ .pledge {
  display: inline; }

.hide, .show {
  float: left;
  margin-right: 10px; }
  @media screen and (min-width: 650px) {
    .hide, .show {
      display: none; } }

.hide:hover, .show:hover {
  color: #656D78; }

.pledge p {
  height: auto;
  margin: 0px; }

input {
  margin-top: 10px;
  padding-bottom: 2px; }

.primary {
  width: 100%;
  max-width: none;
  float: left;
  background: #fff;
  text-align: left;
  min-height: 350px;
  padding: 25px 50px 50px; }
  @media screen and (min-width: 650px) {
    .primary {
      width: 65%;
      border-right: 2px solid; } }
