

.ctoa { 
    display: block;
    padding:10px 10px 10px 35px;
    max-width:260px;
    overflow:auto;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
  	-webkit-box-shadow: 3px 3px 5px 0px #7b707b;
	-moz-box-shadow: 3px 3px 5px 0px #7b707b;
	box-shadow: 3px 3px 5px 0px #7b707b;
	border: 1px solid #494349;
	border-top:0px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
    background-color:$header;
	@media screen and (min-width:650px){
		float:right;
		width:30%;
		border:hidden;
		box-shadow:none;
		max-width:none;
		margin-right:20px;
		padding-top:25px;
	}

}

.pledge {
    display:none; 
    height:auto;
    margin-top:15px;
    float: left;
    	p{
	    height:auto;
	    margin:0px;
		}
    @media screen and (min-width:650px){
    		display:inline;
    	} 
}
.show {
    display: none;

}
.hide:target + .show {
    display: inline; 
    margin-right:5px;
    @media screen and (min-width:650px){
    	display:none;}

}
.hide:target {
    display: none; 
}
.hide:target ~ .pledge {
    display:inline; 
}


.hide, .show {
	float:left;
	margin-right:10px;
	margin-top:3px;
	@media screen and (min-width:650px){
		display:none;
	}


}


.hide:hover, .show:hover {
  color: #656D78;
}




input{
	margin-top:10px;
	padding:2px;
	margin-bottom:5px;

	
}
.button{
	background-color:$raisinmix-lighter;
	font-size:1em;
	border-radius:5px;
	padding:5px;
}

.primary{
	width:100%;
	max-width:none;
	float:left;
	text-align: left;
	min-height:350px;
	padding:25px 50px 50px;
	background-color: $fontshadelight;
		@media screen and (min-width:650px){
		width: 65%;
		border-right:2px solid;
	    -webkit-box-shadow: 5px 0px 5px 1px $header-dark;
		
			
		}
}
