.top{
	width:100%;
	height:250px;
	padding:10px;
	overflow:auto;
	background-color:$fontshadelight;
	@media screen and (min-width: 650px){
			
		height:150px;
	}

	.name{
		margin-right:auto;
		margin-left:auto;
		text-align:center;
		@media screen and (min-width: 650px){
		width:40%;
		margin-left:10px;
		float:left;

		text-align:left;
		}

	}
	.logo{
		height:100px;
		width:100px;
		margin-left:auto;
		margin-right:auto;
		@media screen and (min-width: 650px){
		margin-top:15px;
		margin-right:10px;
		float:right;

		}
	}
}

.thinbar{
	
	background-color:$raisinmix;
	overflow:auto;
	border-bottom:2px solid;
	border-top:2px solid;
	>*{padding:10px;}
	@media screen and (min-width: 650px){
	>*{padding: 20px;}
	}


	.holster{
		/*Contains the link to the left, does not contain h2 text */
		float:left;
				@media screen and (min-width: 650px){
		padding-left:20px;
	}

		h2{
			font-weight: bold;
			padding-right:10px;
			a{
				color:$fontshadelight;
			}
		}

	}
	.social{
		float:right;
		background-color:$raisinmix-light;
		border-left: 25px solid $raisinmix-light;
		position:relative;
		&:before{
			  content:""; 
			    display:block; 
			    position:absolute; 
			    left:0; 
			    bottom:0; 
			    width:25px; 
			    height:100%;                          
				background-color:$raisinmix-dark;
				border-right: 12px solid  $raisinmix-lightest;
				border-left: 6px solid $raisinmix-darker;
			}
			
			.fight{
				display:none;
					@media screen and (min-width: 650px){
				display:inline;
				float:left;
				padding-left: 30px;
				padding-right:10px;}

			}
			.twitter-hashtag-button{
				margin-left:20px;
				@media screen and (min-width: 650px){
					margin-left:0px;
				}
			}

			
		}
		
	}



