.top{
	width:100%;
	height:250px;
	padding:10px;
	overflow:auto;
	background-color:$backgroundshade;
	@media screen and (min-width: 650px){
			
		height:150px;
	}

	.name{
		margin-right:auto;
		margin-left:auto;
		text-align:center;
		@media screen and (min-width: 650px){
		width:40%;
		margin-left:10px;
		float:left;

		text-align:left;
		}

	}
	.logo{
		height:100px;
		width:100px;
		margin-left:auto;
		margin-right:auto;
		@media screen and (min-width: 650px){
		margin-top:15px;
		margin-right:10px;
		float:right;

		}
	}
}

.thinbar{
	
	background-color:$raisinmix;
	height:40px;
	overflow:auto;
	>*{padding: 10px;}

	.holster{
		/*Contains the link to the left, does not contain h2 text */
		float:left;
		padding-left:20px;

	}
	.social{
		float:right;
		background-color:#bbb2bb;
		border-left: 25px solid #c3bac3;
		position:relative;
		&:before{
			  content:""; 
			    display:block; 
			    position:absolute; 
			    left:0; 
			    bottom:0; 
			    width:25px; 
			    height:100%;                          
				background-color:#ab94ab;
				border-right: 12px solid  #887688;
				border-left: 6px solid #e4d7e4;
			}
			
			.fight{
				display:none;
					@media screen and (min-width: 650px){
				display:inline;
				float:left;
				padding-left: 30px;
				padding-right:10px;}

			}
			.twitter-hashtag-button{
				margin-left:20px;
				@media screen and (min-width: 650px){
					margin-left:0px;
				}
			}

			
		}
		
	}



