$raisinmix: rgb(173,50,125);
$raisinmix-light: lighten( $raisinmix, 10% );
$raisinmix-lighter: lighten( $raisinmix, 20% );
$raisinmix-lightest: lighten( $raisinmix, 30% );
$raisinmix-dark: darken( $raisinmix, 10% );
$raisinmix-darker: darken( $raisinmix, 20% );


$headerside: rgb(239,246,223);

$fontshadelight: rgb(252,252,246);

