$raisinmix: rgb(200, 107, 168);
$raisinmix-light: lighten( $raisinmix, 10% );
$raisinmix-lighter: lighten( $raisinmix, 20% );
$raisinmix-lightest: lighten( $raisinmix, 30% );
$raisinmix-dark: darken( $raisinmix, 10% );
$raisinmix-darker: darken( $raisinmix, 20% );