*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

html {
  font-size: 100%;
  height: 100%; }

html, body {
  height: 100%; }

.pagewrap {
  min-height: 100%; }

.content {
  overflow: auto;
  padding-bottom: 100px; }

/* must be same height as the footer */
.footsie {
  background-color: #c86ba8;
  position: relative;
  margin-top: -100px;
  /* negative value of footer height */
  height: 150px;
  clear: both; }

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

ul {
  list-style: inside circle; }
  ul li {
    margin-top: 10px; }

h1 {
  /* Logo */
  font-size: 4em; }

h2 {
  /* narrow bar non-link text*/
  font-size: 1.3em; }

h3 {
  /* Pledge c2a */
  font-size: .9em; }

h4 {
  /* footer jab */
  font-size: 1.7em; }

a {
  text-decoration: none; }

.top {
  width: 100%;
  height: 250px;
  padding: 10px;
  overflow: auto; }
  @media screen and (min-width: 650px) {
    .top {
      height: 150px; } }
  .top .name {
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
    @media screen and (min-width: 650px) {
      .top .name {
        width: 40%;
        margin-left: 10px;
        float: left;
        text-align: left; } }
  .top .logo {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 650px) {
      .top .logo {
        margin-top: 15px;
        margin-right: 10px;
        float: right; } }

.thinbar {
  background-color: #c86ba8;
  height: 40px;
  overflow: auto;
  padding: 10px;
  margin-bottom: 20px; }
  .thinbar .holster {
    /*Contains the link to the left, does not contain h2 text */
    float: left;
    padding-left: 20px; }
  .thinbar .social {
    float: right;
    padding-right: 20px; }
    @media screen and (min-width: 650px) {
      .thinbar .social {
        border-left: inset; } }
    .thinbar .social .fight {
      display: none; }
      @media screen and (min-width: 650px) {
        .thinbar .social .fight {
          display: inline;
          float: left;
          padding-left: 10px;
          padding-right: 10px; } }

body {
  height: 100%;
  font-size: 1em;
  font-family: georgia, serif;
  color: #444;
  background: #e6e6e6; }

.primary {
  width: 95%;
  max-width: none;
  float: left;
  margin: 1.5em auto;
  border: 0.063em solid #ccc;
  background: #fff;
  text-align: left;
  padding: 10px;
  margin: 10px; }
  @media screen and (min-width: 768px) {
    .primary {
      width: 60%;
      max-width: 600px; } }

/* if something isn't working, remember to save this again! */
