*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

html {
  font-size: 100%;
  height: 100%; }

html, body {
  height: 100%; }

body {
  color: #282828;
  height: 100%;
  font-size: 1em;
  background-color: #fcfcf6;
  font-family: helvetica, georgia; }
  @media screen and (min-width: 650px) {
    body {
      background-color: #fcfcf6; } }

.pagewrap {
  min-height: 100%; }

.content {
  overflow: auto;
  padding-bottom: 100px; }

/* must be same height as the footer */
.footsie {
  background-color: #b684a4;
  position: relative;
  margin-top: -100px;
  /* negative value of footer height */
  height: 100px;
  clear: both;
  border-top: 2px solid; }
  .footsie h4, .footsie p {
    font-weight: bold;
    color: #fcfcf6; }

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

ul {
  list-style: inside circle; }
  ul li {
    margin-top: 10px; }

h1 {
  /* Logo */
  font-size: 4em; }

h2 {
  /* narrow bar non-link text*/
  font-size: 1.3em; }

h3 {
  /* Pledge c2a */
  font-size: .9em; }

h4 {
  /* footer jab */
  font-size: 1.7em; }

a {
  text-decoration: none;
  color: #282828; }

li {
  margin: 50px 0px; }

.top {
  width: 100%;
  height: 250px;
  padding: 10px;
  overflow: auto;
  background-color: #fcfcf6; }
  @media screen and (min-width: 650px) {
    .top {
      height: 150px; } }
  .top .name {
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
    @media screen and (min-width: 650px) {
      .top .name {
        width: 40%;
        margin-left: 10px;
        float: left;
        text-align: left; } }
  .top .logo {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 650px) {
      .top .logo {
        margin-top: 15px;
        margin-right: 10px;
        float: right; } }

.thinbar {
  border-top: 2px solid;
  border-bottom: 2px solid;
  webkit-gradient: linear, 0% 50%, 100% 50%, color-stop(0%, #65016c), color-stop(5%, #65016c), color-stop(5%, #bfb130), color-stop(9%, #bfb130), color-stop(9%, #95f23d), color-stop(11%, #95f23d), color-stop(11%, #aef26d), color-stop(15%, #aef26d), color-stop(15%, #9c02a7), color-stop(18%, #9c02a7), color-stop(18%, #ffe500), color-stop(23%, #ffe500), color-stop(23%, #70e500), color-stop(26%, #70e500), color-stop(26%, #6aac2b), color-stop(31%, #6aac2b), color-stop(31%, #65016c), color-stop(33%, #65016c), color-stop(33%, #aef26d), color-stop(37%, #aef26d), color-stop(37%, #95f23d), color-stop(39%, #95f23d), color-stop(39%, #6d0174), color-stop(44%, #6d0174), color-stop(44%, #ccbc33), color-stop(48%, #ccbc33), color-stop(48%, #65016c), color-stop(51%, #65016c), color-stop(51%, #8c2593), color-stop(54%, #8c2593), color-stop(54%, #77c130), color-stop(59%, #77c130), color-stop(59%, #6d0174), color-stop(63%, #6d0174), color-stop(63%, #65016c), color-stop(69%, #65016c), color-stop(69%, #ffe500), color-stop(73%, #ffe500), color-stop(73%, #6d0174), color-stop(77%, #6d0174), color-stop(77%, #65016c), color-stop(79%, #65016c), color-stop(79%, #bfb130), color-stop(84%, #bfb130), color-stop(84%, #77c130), color-stop(86%, #77c130), color-stop(86%, #65016c), color-stop(90%, #65016c), color-stop(90%, #6aac2b), color-stop(94%, #6aac2b), color-stop(94%, #77c130), color-stop(97%, #77c130), color-stop(97%, #aef26d), color-stop(100%, #aef26d);
  background-image: -webkit-linear-gradient(left, #65016c 0%, #65016c 5%, #bfb130 5%, #bfb130 9%, #95f23d 9%, #95f23d 11%, #aef26d 11%, #aef26d 15%, #9c02a7 15%, #9c02a7 18%, #ffe500 18%, #ffe500 23%, #70e500 23%, #70e500 26%, #6aac2b 26%, #6aac2b 31%, #65016c 31%, #65016c 33%, #aef26d 33%, #aef26d 37%, #95f23d 37%, #95f23d 39%, #6d0174 39%, #6d0174 44%, #ccbc33 44%, #ccbc33 48%, #65016c 48%, #65016c 51%, #8c2593 51%, #8c2593 54%, #77c130 54%, #77c130 59%, #6d0174 59%, #6d0174 63%, #65016c 63%, #65016c 69%, #ffe500 69%, #ffe500 73%, #6d0174 73%, #6d0174 77%, #65016c 77%, #65016c 79%, #bfb130 79%, #bfb130 84%, #77c130 84%, #77c130 86%, #65016c 86%, #65016c 90%, #6aac2b 90%, #6aac2b 94%, #77c130 94%, #77c130 97%, #aef26d 97%, #aef26d 100%);
  background-image: -moz-linear-gradient(left, #65016c 0%, #65016c 5%, #bfb130 5%, #bfb130 9%, #95f23d 9%, #95f23d 11%, #aef26d 11%, #aef26d 15%, #9c02a7 15%, #9c02a7 18%, #ffe500 18%, #ffe500 23%, #70e500 23%, #70e500 26%, #6aac2b 26%, #6aac2b 31%, #65016c 31%, #65016c 33%, #aef26d 33%, #aef26d 37%, #95f23d 37%, #95f23d 39%, #6d0174 39%, #6d0174 44%, #ccbc33 44%, #ccbc33 48%, #65016c 48%, #65016c 51%, #8c2593 51%, #8c2593 54%, #77c130 54%, #77c130 59%, #6d0174 59%, #6d0174 63%, #65016c 63%, #65016c 69%, #ffe500 69%, #ffe500 73%, #6d0174 73%, #6d0174 77%, #65016c 77%, #65016c 79%, #bfb130 79%, #bfb130 84%, #77c130 84%, #77c130 86%, #65016c 86%, #65016c 90%, #6aac2b 90%, #6aac2b 94%, #77c130 94%, #77c130 97%, #aef26d 97%, #aef26d 100%);
  background-image: -o-linear-gradient(left, #65016c 0%, #65016c 5%, #bfb130 5%, #bfb130 9%, #95f23d 9%, #95f23d 11%, #aef26d 11%, #aef26d 15%, #9c02a7 15%, #9c02a7 18%, #ffe500 18%, #ffe500 23%, #70e500 23%, #70e500 26%, #6aac2b 26%, #6aac2b 31%, #65016c 31%, #65016c 33%, #aef26d 33%, #aef26d 37%, #95f23d 37%, #95f23d 39%, #6d0174 39%, #6d0174 44%, #ccbc33 44%, #ccbc33 48%, #65016c 48%, #65016c 51%, #8c2593 51%, #8c2593 54%, #77c130 54%, #77c130 59%, #6d0174 59%, #6d0174 63%, #65016c 63%, #65016c 69%, #ffe500 69%, #ffe500 73%, #6d0174 73%, #6d0174 77%, #65016c 77%, #65016c 79%, #bfb130 79%, #bfb130 84%, #77c130 84%, #77c130 86%, #65016c 86%, #65016c 90%, #6aac2b 90%, #6aac2b 94%, #77c130 94%, #77c130 97%, #aef26d 97%, #aef26d 100%);
  background-image: linear-gradient(left, #65016c 0%, #65016c 5%, #bfb130 5%, #bfb130 9%, #95f23d 9%, #95f23d 11%, #aef26d 11%, #aef26d 15%, #9c02a7 15%, #9c02a7 18%, #ffe500 18%, #ffe500 23%, #70e500 23%, #70e500 26%, #6aac2b 26%, #6aac2b 31%, #65016c 31%, #65016c 33%, #aef26d 33%, #aef26d 37%, #95f23d 37%, #95f23d 39%, #6d0174 39%, #6d0174 44%, #ccbc33 44%, #ccbc33 48%, #65016c 48%, #65016c 51%, #8c2593 51%, #8c2593 54%, #77c130 54%, #77c130 59%, #6d0174 59%, #6d0174 63%, #65016c 63%, #65016c 69%, #ffe500 69%, #ffe500 73%, #6d0174 73%, #6d0174 77%, #65016c 77%, #65016c 79%, #bfb130 79%, #bfb130 84%, #77c130 84%, #77c130 86%, #65016c 86%, #65016c 90%, #6aac2b 90%, #6aac2b 94%, #77c130 94%, #77c130 97%, #aef26d 97%, #aef26d 100%); }
  .thinbar .innerbar {
    overflow: auto;
    width: 100%;
    height: 30%;
    margin-bottom: 10px;
    background-color: rgba(252, 252, 246, 0.8); }
    @media screen and (min-width: 650px) {
      .thinbar .innerbar {
        padding-left: 25px; } }
    .thinbar .innerbar .holster {
      float: left;
      margin-left: 15px;
      padding-top: 10px; }
      .thinbar .innerbar .holster h2 {
        font-weight: bold;
        padding-right: 10px; }
    .thinbar .innerbar .social {
      float: right;
      display: block;
      height: 40px;
      width: 50px;
      padding-top: 5px;
      margin-right: 15px; }
      .thinbar .innerbar .social a {
        padding: 10px 5px; }
      .thinbar .innerbar .social .mediaicon {
        width: 65%;
        height: 80%; }

.ctoa {
  display: block;
  padding: 10px 10px 10px 35px;
  max-width: 260px;
  overflow: auto;
  border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  -webkit-box-shadow: 3px 3px 5px 0px #7b707b;
  -moz-box-shadow: 3px 3px 5px 0px #7b707b;
  box-shadow: 3px 3px 5px 0px #7b707b;
  border: 1px solid #494349;
  border-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  background-color: #fcfcf6; }
  @media screen and (min-width: 650px) {
    .ctoa {
      float: right;
      width: 35%;
      border-left: 1px solid;
      box-shadow: none;
      max-width: none;
      padding-top: 25px;
      /* &:before{
      	content:"";
          background: #ccc;
          position: absolute;
          bottom: 25%;
          left: 0;
          height: 50%;
          width: 1px; */ } }

.pledge {
  display: none;
  height: auto;
  margin-top: 15px;
  float: left; }
  .pledge p {
    height: auto;
    margin: 0px; }
  @media screen and (min-width: 650px) {
    .pledge {
      display: inline; } }

.show {
  display: none; }

.hide:target + .show {
  display: inline;
  margin-right: 5px; }
  @media screen and (min-width: 650px) {
    .hide:target + .show {
      display: none; } }

.hide:target {
  display: none; }

.hide:target ~ .pledge {
  display: inline; }

.hide, .show {
  float: left;
  margin-right: 10px;
  margin-top: 3px; }
  @media screen and (min-width: 650px) {
    .hide, .show {
      display: none; } }

.hide:hover, .show:hover {
  color: #656D78; }

input {
  margin-top: 10px;
  padding: 2px;
  margin-bottom: 5px; }

.button {
  background-color: #dcc4d3;
  font-size: 1em;
  border-radius: 5px;
  padding: 5px; }

.primary {
  width: 100%;
  max-width: none;
  float: left;
  text-align: left;
  min-height: 350px;
  padding: 25px 50px 50px; }
  @media screen and (min-width: 650px) {
    .primary {
      width: 65%; } }
